@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.AboutSection)Model.Content;
    
    
}

<section class="pb-[10rem]">
    <div class="container">
        <div class="flex flex-row justify-center gap-10 pt-28">
            <div class="flex flex-col gap-4 ">
                @if (content.AboutImage != null)
                {
                    <img src="@content.AboutImage?.Url()" alt="Alternate Text" class="min-h-[350px] min-w-[200px] h-auto object-cover" />
                }
                <span>@content.AboutImageUnderline</span>
            </div>
            <div class="max-w-3xl">
                <h2 class="text-[1.3rem] mb-4">@content.AboutHeading</h2>
                <div class="rte">@Html.Raw(content.AboutText)</div>
            </div>

        </div>
        
    </div>
</section>

<section class="bg-white-100 flex flex-row items-center relative overflow-hidden py-12 my-12">
    <div class="container relative z-10 flex-1 py-16">
        <div class="flex flex-col gap-2 max-w-[600px]">
            <span class="text-secondary font-bold">@content.AboutLabelSection2</span>
            <h2 class="text-[2.5rem] font-bold mb-2">@content.AboutHeadingSection2</h2>
            <p class="text-[1rem] text-accent mb-2">@content.AboutTextSection2</p>
            <img class="max-w-[100px] mb-4" src="~/images/Rating.svg" alt="Alternate Text" />
            <span>@content.AboutNameSection2</span>
            <span class="text-[1.2rem] font-semibold">@content.AboutCompanySection2</span>
        </div>
    </div>

    @if (content.AboutImageSection2 != null)
    {
        <div class="absolute right-0 top-0 h-full w-1/2">
            <img src="@content.AboutImageSection2?.Url()"
                 alt="Alternate Text"
                 class="w-full h-full object-cover" />
        </div>
    }
</section>